<ion-view view-title="">
  <ion-content>
	
	
  <div id="pluginsDemoDiv" align="center">
    <p>
      <button ng-click="videoCapturePlusDemo()">record</button>
	  <button ng-show="showUploadBtn" ng-click="uploadVideo()">upload</button> 
    </p>

    <div id="video_meta_container"></div>
    <div id="video_meta_container2"></div>
    <div id="video_container"></div>
  </div>

	
	
  </ion-content>
</ion-view>
